<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="app-header" th:fragment="nav">
    <img src="/img/logo.png" alt="GRILLOGIC" class="app-logo-img">
    <div class="app-nav">
        <a href="/dashboard" id="dashLink">Dashboard</a>
        <a href="/ingredients">Ingredients</a>
        <a href="/vendors">Vendors</a>
        <a href="/invoice-capture">Invoice Capture</a>
        <a href="/recipes">+ New Recipe</a>
        <a href="/recipes/list">All Recipes</a>
        <a href="/waste">Waste Tracking</a>
        <a href="/account">My Account</a>
        <a href="/admin" id="adminLink" style="display:none;">Admin Panel</a>
        <span id="userEmail"></span>
        <button id="logoutBtn" class="btn-link">Log Out</button>
    </div>
</div>

</body>
</html>